* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #0F1B4C;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Sen', sans-serif; */
}

body {
    font-size: 1.6rem;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 28px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 12px 0px;
    line-height: 50px;
    background: #171100;
    border-radius: 24.5px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

/* Header */
.header {
    padding-top: 30px;
}

.header.fixed {
    position: sticky;
    top: -30px;
    background: #FFFCF4;
}

.header .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
    gap: 10px;
}

.header .nav li {
    padding: 16px 8px;
}

.header .nav li a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5F5B53;
}

.header .nav li a.active,
.header .nav li a:hover {
    -webkit-text-stroke-width: 0.04ex;
    position: relative;
    color: #171100;
}

.header .nav li a.active::after,
.header .nav li a:hover::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    bottom: -2px;
    left: 0;
}

.header .signup-btn {
    min-width: 144px;
    margin-left: 54px;
}