* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font-heading: Sen, san-serif;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Sen', sans-serif; */
}

body {
    font-size: 1.6rem;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 28px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 118px;
    padding: 12px 18px;
    line-height: 50px;
    background: #171100;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    padding-top: 30px;
}

.header.fixed {
    position: sticky;
    top: -30px;
    background: #FFFCF4;
    z-index: 1;
}

.header .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
    gap: 10px;
}

.header .nav li {
    padding: 16px 8px;
}

.header .nav li a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5F5B53;
}

.header .nav li a.active,
.header .nav li a:hover {
    -webkit-text-stroke-width: 0.04ex;
    position: relative;
    color: #171100;
}

.header .nav li a.active::after,
.header .nav li a:hover::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    bottom: -2px;
    left: 0;
}

.header .signup-btn {
    min-width: 144px;
    margin-left: 54px;
}

/* Hero */
.hero {
    background: #FFFCF4;
    padding: 64px 0;
}

.hero .main-content {
    display: flex;
    align-items: center;
    gap: 130px;
}

.hero .main-content .media-block {
    width: 48%;
    position: relative;
}

.hero .main-content .info-block {
    width: 52%;
}

.hero .main-content .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
}

.hero .media-info {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .media-info .item {
    display: flex;
    gap: 16px;
}

.hero .media-info .item+.item {
    margin-top: 14px;
}

.hero .media-info .item .info {
    display: flex;
    flex-direction: column;
}

.hero .media-info .item .info .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero .media-info .item .info .label {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .info-block .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .info-block .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
    padding: 22px 0;
}

.hero .info-block .cta-group {
    display: flex;
    align-items: center;
    gap: 28px;
    margin: 16px 0 36px 0;
}

.hero .info-block .cta-btn {
    min-width: 180px;
    height: 64px;
    line-height: 64px;
    background: #FFB900;
}

.hero .info-block .cta-group .watch-btn {
    display: flex;
    gap: 14px;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .info-block .cta-group .watch-btn span {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.67;
    color: #171100;
}

.hero .info-block .cta-group .watch-btn:hover img {
    border-radius: 999px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .info-block .cta-group .watch-btn:hover span {
    text-decoration: underline;
}

.hero .info-block .recent {
    display: flex;
    gap: 28px;
}

.hero .info-block span {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.hero .info-block strong {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero .info-block .stats {
    padding-bottom: 8px;
}

/* Popular */

.popular {
    margin-top: 135px;
    padding: 60px 0;
}

.popular-top {
    display: flex;
    justify-content: space-between;
}

.popular-top .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular-top .desc {
    width: 458px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    color: #5F5B53;
}

.popular .controls {
    display: flex;
    gap: 16px;
    align-items: center;
}

.popular .control-btn {
    border-radius: 50%;
    border: 1px solid #FFB900;
    width: 40px;
    height: 40px;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
}

.popular .control-btn svg {
    color: #FFB900;
}

.popular .control-btn:hover svg {
    color: white;
}

.popular .control-btn:hover {
    background: #FFB900;
}

/* Course List */

.course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-item {
    background: #FFFFFF;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    flex: 0 0 370px;
    overflow: hidden;
}

.course-item .head {
    display: flex;
    justify-content: space-between;
}

.course-item .thumb {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 370/278;
}

.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .head .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .head .rating {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FEA31B;
}

.course-item .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .foot .btn {
    border: none;
    transition: .2s;
}

.course-item .foot .btn:hover {
    background: #FFB900;
}

/* Feedback */
.feedback {
    padding: 96px 0;
    background: #2E2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.feedback-item img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .content blockquote {
    margin-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
}

.feedback-item .content {
    width: 66%;
    min-width: 770px;
}

.feedback-item .title {
    font-family: var(--font-heading);
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;
}

.feedback-item .desc {
    margin-top: 2px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB3;
}

.feedback-item .dots {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.feedback-item .dot {
    display: block;
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
    cursor: pointer;
}

.feedback-item .dot.is-active {
    background: #FFB900;
    cursor: default;
}

/* Features */

.features {
    margin-top: 200px;
}

.features .images {
    display: flex;
    gap: 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .images img:first-child {
    margin-top: 30px;
}

.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.features .content {
    width: 41%;
}

.features .content .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.features .content .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}

.features .content .btn {
    margin-top: 32px;
    background: #FFB900;
}

.features-2 .image image {
    width: 470px;
    height: 440px;
    object-fit: cover;
}

.features-2 .content {
    width: 48%;
}