* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #0F1B4C;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    text-align: center;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #FFFFFF;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

.link {
    display: flex;
    gap: 8px;
    margin-top: 9px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #0689FF;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */

.header {
    min-height: calc(95vh - 90px);
    background-color: #E6F0FF;
    position: relative;
}

.fixed-header{
    position: sticky;
    top: -24px;
    z-index: 1;
    background-color: #E6F0FF;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 8px;
}

.navbar ul {
    display: flex;
    align-items: center;
    padding-left: 56px;
    gap: 12px;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4F5361;
    padding: 6px 8px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-right: 18px;
}

.action-btn {
    padding: 13px 16px;
    border-radius: 8px;
}

.hero {
    padding-top: 130px;
}

.hero .info {
    width: 50%;
    padding-bottom: 20px;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5A6473;
}

.hero .hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Client */

.client {
    padding-top: 100px;
    padding-bottom: 80px;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .row-desc {
    margin-top: 23px;
}

.client .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7D8589;
}

.client .images {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.client .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Guides */

.guides {
    padding-top: 80px;
    padding-bottom: 120px;
}

.guides .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
    position: relative;
}

.guides .sub-title::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 4px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    margin: 0 auto;
    margin-top: 20px;
    width: 459px;
    max-width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5A6473;
}

.guides .list-guides {
    width: 685px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guides .guide-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.guides .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 1.1;
    text-align: center;
    color: #3B3C45;
}

.guides .cta-guides {
    text-align: center;
    margin-top: 48px;
    min-width: 170px;
}

/* Featured */
.featured {
    background: #F5FAFE;
    padding: 110px 0;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    display: flex;
    color: #5A6473;
}

.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 68px;
}

.featured-card {
    background: white;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
    border-radius: 12px;
    flex: 1;
}

.featured-card .thumb {
    height: 227px;
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.featured-card .feature-content {
    padding: 17px 26px 26px 26px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.featured-card .title a {
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 1.5;
    text-align: center;
    color: #000339;
}

.featured-card .address {
    --line-clamp: 3;

    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #A3A6AB;
}

.featured-card .info {
    margin-top: 18px;
    display: flex;
    gap: 22px;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

.featured-card .info>* {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Stats */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .stats-img {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;
    column-gap: 16px;
}

.stats .avatar-group {
    display: flex;

}

.stats .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
}

.stats .avatar-group .avatar+.avatar {
    margin-left: -3px;
}

.stats .info {
    margin: 79px 0 0 165px;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .sub-title::before {
    position: absolute;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5A6473;
}

.stats-trend {
    padding: 45px 22px 40px;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .row {
    display: flex;
    justify-content: space-between;
}

.stats-trend .desc {
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #A7A7A7;
}

.stats-trend .seperate {
    height: 1.2px;
    background: #E9E9E9;
    margin-top: 25px;
}

.stats .row-qty {
    margin: 180px 32px 50px;
    justify-content: space-between;
}

.row-qty .qty {
    font-weight: 600;
    font-size: 64px;
    line-height: 1;
    color: #000000;
}

.row-qty .qty-desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #7B8087;
}

/* Subscription */

.subscription {
    margin-top: 50px;
}

.subscription .body {
    display: flex;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
    position: relative;
}

.subscription .info {
    padding: 0 80px;
    max-width: 65%;
}

.subscription .sub-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    color: #FFFFFF;
}

.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: white;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 15%;
}

/* Footer */

.footer {
    margin: 55px 0 28px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .row .list,
.footer .desc {
    margin-top: 42px;
}

.footer .desc {
    margin-bottom: 42px;
}

.footer .item a,
.footer .desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #7A7A7E;
}

.footer .item a:hover {
    text-decoration: underline;
}

.footer .item+.item {
    margin-top: 18px;
}

.footer h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #1C1C1D;
}

.footer .contact {
    flex: 0 0 25%;
}

.footer .social .social-link:hover {
    outline: 1px solid #ddd;
    border-radius: 5px;
}

.footer .social {
    display: flex;
    gap: 16px;
}

.footer .copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #C2C2C2;
}

.footer .row:nth-child(2) {
    margin-top: 80px;
}